html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer_lower {
  background-color: #232326;
  color: #eaeaea;
  padding: 1rem 5rem;
}
.footer_upper {
  color: #eaeaea;
  padding: 1rem 5rem;
  background-color: #2962ff;
}

@media (max-width: 769px) {
  .footer_lower,
  .footer_upper {
    padding: 1rem;
    font-size: 0.8rem;
  }
}
