html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  margin: none;
  outline: none;
  background-color: transparent;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer_lower {
  background-color: #232326;
  color: #ffffff;
  padding: 1rem 6rem;
  padding-top: 2rem;
  font-size: 0.9rem;
  min-height: 92px;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.developer {
  text-decoration: none;
  font-weight: bold;
  font-weight: 900;
}

.footer_upper {
  color: #ffffff;
  padding: 2rem 6rem;
  font-size: 0.9rem;
  background-color: #2962ff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.link {
  font-weight: bold;
  transition-duration: 0.5s;
}

.footer_upper_col_1 {
  width: 40rem;
}

.footer_upper_col {
  width: 12rem;
  font-weight: 400;
}

.footer_upper_col div {
  color: #c1d6ff;
  padding: 0.2rem 0rem;
  transition-duration: 0.6s;
  border-radius: 4px;
}

.navlogo {
  width: 7rem;
}

.social_icons i,
.logosvg {
  color: #eaeaea33;
  font-size: 20px;
  margin: 10px;
  transition-duration: 0.5s;
}

.logosvg {
  margin: -2px 10px;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
  .footer_upper_col div:hover {
    color: #ffffff;
  }
  .social_icons i:hover,
  .logosvg:hover {
    color: #eaeaea;
  }
}

@media (max-width: 769px) {
  .footer_lower,
  .footer_upper {
    padding: 1rem;
    font-size: 0.8rem;
    flex-direction: column;
    text-align: left;
  }
  .footer_lower div {
    padding: 0.2rem 0rem;
  }
  .footer_upper_col div {
    color: #eaeaea;
  }
  .footer_upper_col,
  .footer_upper_col_1 {
    padding: 0.8rem 0rem;
    width: unset;
  }
  .social_icons i,
  .logosvg {
    color: #eaeaea;
  }
}
