.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: rgba(245, 247, 250, 1);
  /* background-color: linear-gradient(0deg, blue, rgba(245, 247, 250, 1)); */
}

.appIntro,
.apiPlayGround {
  padding: 0rem 5rem;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  color: #424242;
  /* border-bottom: #2962ff 0.01rem solid; */
}

.apiPlayGround {
  background-color: #2962ff11;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 5rem;
}

.apis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.apibutton,
.apibuttonActive,
.apiPlayGroundHeader {
  width: 18rem;
  color: #424242;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem;
  margin: 1rem 0rem;
  border-radius: 10px;
  cursor: pointer;
}

.apibutton:hover,
.apibuttonActive:hover {
  /* color: #2962ff; */
  background-color: #2962ff22;
}

.apibuttonActive {
  color: #2962ff;
  background-color: white;
  /* color: rgba(245, 247, 250, 1); */
}

.apiPlayGroundHeader {
  background-color: #2962ff;
  color: rgba(245, 247, 250, 1);
  font-weight: 900;
  font-size: 1.2rem;
}

.appIntroText {
  max-width: 480px;
}

.title span {
  color: #2962ff;
  text-decoration: none;
}

.title,
.description,
.subHeading {
  text-align: start;
  font-weight: bold;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  font-weight: 900;
}
.description {
  line-height: 1.5;
  font-size: 1.2rem;
}

.description a:hover {
  text-decoration: underline #2962ff;
}

.subHeading {
  line-height: 1.5;
  font-size: 1rem;
}

.code {
  color: #2962ff;
}

.greyBg {
  background-color: #23262622;
  border-radius: 4px;
  padding: 1px 6px;
}

.appCards,
.appCardsCommingSoon {
  padding: 0rem 5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  color: #424242;
}

.appCards {
  min-height: 100vh;
  /* background-color: black;
  color: #cccccc; */
}

.appCardsDiv {
  margin: 2rem 0rem;
  min-width: 18rem;
  max-width: 310px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.appCardsDiv img {
  min-height: 510px;
  margin-top: 1rem;
}

.appCardsText1,
.appCardsText2,
.appCardsText3 {
  font-weight: 900;
  line-height: 1.15;
  font-size: 2rem;
}

.appCardsText1 {
  color: #afafaf;
}

.appCardsText2 {
  color: #232626;
}

.appCardsText3 {
  color: #2962ff;
}

.logo {
  height: 5em;
  margin: 1rem 0rem;
}

.navHeader {
  position: fixed;
  z-index: 100;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.6rem 5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2962ff;
  background-color: rgba(245, 247, 250, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 2px 0px 15px #23262622;
}

.navlogo {
  width: 7rem;
}

@media (max-width: 769px) {
  .title,
  .description {
    text-align: center;
  }
  .appIntroText {
    text-align: center;
  }
  .title {
    font-size: 3.2rem;
  }
  .appCardsDiv {
    align-items: center;
  }
  .appIntro,
  .apiPlayGround,
  .appCards {
    padding: 5rem 1rem;
  }
  .apiPlayGround {
    flex-direction: column;
  }
  .apis,
  .apibutton,
  .apibuttonActive,
  .apiPlayGroundHeader {
    width: 100%;
  }
  .appCardsCommingSoon {
    padding: 0rem;
    padding-bottom: 5rem;
  }
  .logo {
    height: 3em;
    margin: 0rem;
  }
  .navHeader {
    padding: 0.6rem;
  }
}
