.PlayGround {
  margin: 1rem 0rem 1rem 2rem;
  padding: 4.2rem 2rem;
  flex: 1;
  border-radius: 10px;
  background-color: #ffffff;
  border: 0.01rem solid #afafaf;
}

.textBox {
  width: 100%;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.8rem 0rem;
  border: 0.01rem solid transparent;
  color: #232326;
  border-radius: 10px;
  outline: none;
  background-color: #2962ff11;
  white-space: nowrap;
}

.labels {
  min-width: 10rem;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.8rem 0rem;
  color: #232326;
  font-weight: bold;
  white-space: nowrap;
}

.textBox:hover {
  border: 0.01rem solid #afafaf;
  background-color: #ffffff;
}

.sendRequest {
  width: 10rem;
  text-align: center;
  padding: 0.8rem;
  margin: 1rem 0rem;
  border-radius: 10px;
  background-color: #2962ff;
  color: rgba(245, 247, 250, 1);
  font-weight: 900;
  font-size: 1.2rem;
  align-self: flex-end;
  cursor: pointer;
}

.responseHolder {
  padding: 1rem;
  border-radius: 10px;
  border: 0.01rem solid #afafaf;
  color: #232326;
  outline: none;
  background-color: #2962ff11;
  height: 560px;
  overflow: auto;
  position: relative;
}

.responseHolderLoader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  color: #232326;
  outline: none;
  background-color: rgba(245, 247, 250, 0.15);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.commonParams {
  display: flex;
  flex-flow: row wrap;
}

.commonParams div {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.commonParams div select {
  min-width: 10rem;
  width: 100%;
}

@media (max-width: 801px) {
  .PlayGround {
    margin: 1rem 0rem;
    padding: 2rem 1rem;
  }

  .textBox {
    font-size: 0.8rem;
  }

  .labels {
    font-size: 0.8rem;
    min-width: 6rem;
    white-space: normal;
  }
  .commonParams div select {
    min-width: 6rem;
  }
}
